.monaco-shell {
    font-family: Hasklig, 'Fira Code', Monaco, 'Courier New', monospace;
  }

  /* This puts an inset shadow onto the minimap scrollbar and permanently shows it */
  .monaco-editor .minimap .minimap-shadow-visible,
  .monaco-editor .minimap .minimap-shadow-hidden {
    box-shadow: rgba(0, 0, 0, .4) -6px 0 6px -6px inset !important;
    /* taken from vanilla VS Code theme */
    position: absolute;
    left: -6px;
    width: 6px;
  }